# Regression tests

## What are we using Regression for?
We'll be using regression in order to find the yeild of a farm.  
(TODO)

## List of regression models:
1. Linear regression
2. Polynomial regression
3. Ridge regression
4. Bayesian regression
5. Partial Least Squares Regression
6. Elastic Net Regression
7. SVM Regression

In [14]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
### IGNORE BUT KEEP: this code cleans and converts "./temp/apy.csv" to the needed state-specific dataset ###

# initial_df = pd.read_csv("./temp/apy.csv")

# # getting rid of the null values
# initial_df = initial_df.dropna()
# initial_df = initial_df.drop(
#     initial_df[initial_df["State_Name"] != "Maharashtra"].index
# ).drop(columns=["State_Name"])

# # export to new CSV
# initial_df.to_csv("./data/crop.yield.prediction.csv", index=False)

3730

In [18]:
df = pd.read_csv("./data/crop.yield.prediction.csv")
df

      District_Name  Crop_Year       Season       Crop      Area  Production
0        AHMEDNAGAR       1997  Autumn           Maize       1.0      1113.0
1        AHMEDNAGAR       1997  Kharif       Arhar/Tur   17600.0      6300.0
2        AHMEDNAGAR       1997  Kharif           Bajra  274100.0    152800.0
3        AHMEDNAGAR       1997  Kharif            Gram   40800.0     18600.0
4        AHMEDNAGAR       1997  Kharif           Jowar     900.0      1100.0
...             ...        ...          ...        ...       ...         ...
12491      YAVATMAL       2014  Rabi             Jowar    4000.0      3300.0
12492      YAVATMAL       2014  Rabi             Maize    1300.0       200.0
12493      YAVATMAL       2014  Rabi             Wheat   29100.0     26800.0
12494      YAVATMAL       2014  Summer       Groundnut    9400.0     11500.0
12495      YAVATMAL       2014  Whole Year   Sugarcane    8100.0    553700.0

[12496 rows x 6 columns]